@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --safe-area-top: env(safe-area-inset-top, 0px);
    --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  }

  body {
    -webkit-tap-highlight-color: transparent;
    @apply bg-black text-white antialiased;
    overflow: hidden;
  }
}

/* Animaciones Premium Stitch */
@keyframes scan-line {
  0% { top: 0; }
  100% { top: 100%; }
}

.animate-scan-line {
  position: absolute;
  animation: scan-line 2.5s linear infinite;
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-bounce-slow {
  animation: bounce-slow 4s ease-in-out infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Efecto Glass */
.shadow-glass {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
}
